*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
    font-family: sans-serif;
    color: white;

}

.location, .data{
    height: 30vh;
    width: 50%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


.data{
    flex-direction: column;
}
.degree{
    display: flex;
    align-items: center;
    cursor: pointer;
}
.degree span{
    margin: 10px;
    font-size: 30px;

}
.degree h2{
    font-size: 60px;

}
.location-input{
    border-radius: 20px;
    width: 500px;
    height: 40px;
    font-size: 20px;
    text-align: center;
}
.data-table,td,tr,table{
    text-align: center;
    border-radius: 5px;
    border-spacing: 10px;
}
td{
    border:  #3498db  1px solid;
    width: 110px;
    padding: 10px;
    max-width: 110px;
    background-color:  #3498db 
}
/*CSS Styler za podatke o vetru*/
.data-table-wind{
    font-size: 15px;
}

.data-table-icons{
    height: 50px;
}


form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }
  
  /* Style the submit button */
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none; /* Prevent double borders */
    cursor: pointer;
    height: 43px;
  }
  
  form.example button:hover {
    background: #0b7dda;
  }
  
  /* Clear floats */
  form.example::after {
    clear: both;
    display: table;
  }
